footer{
    width: 100%;
    background-color: rgb(50, 50, 50);
    text-align: center;
}

.footer{
    width: 90%;
    margin: 0  auto;
    color: #c7c7c7;
    padding: 2rem 0;
    line-height: 22px;
}
