.jogos{
    text-align: center;
    
}

.jogos__title{
    font-size: 3rem;
    font-family: 'Montserrat', serif;
    padding: 2rem 0;
    text-transform: uppercase;
    font-weight: bold;
}

.jogos__subtitle{
    padding-bottom: 3rem;
}

.jogo{
    width: 40%;
    text-align: left;
    background: rgb(136, 175, 246);
    margin-bottom: 3rem;
    margin-left: 3rem;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
}

.jogo__banner{
    width: 100%;
}

.jogo__descricao{
    padding:2rem;
    line-height: 25px;
}

.jogo__descricao a{
    text-decoration: none;
    color:rgb(20, 89, 218);
    
}

/*Responsivo do header*/

@media only screen and (max-width: 900px) {
  
    .jogo{
        width: 80%;
        margin-left: 0;
    }
    
  }